Repository ThatXliner/interprog: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

component_management:
  individual_components:
    - component_id: rust
      paths:
        - src/rust/
    - component_id: python
      paths:
        - src/python

comment:
  layout: "reach, diff, flags, components, files" # show component info in the PR comment

Update comment
  codecov.yml
Due: none

Overhaul with dataclasses
  src/python/interprog/__init__.py
Due: python

Check for unique task names
  src/rust/src/errors.rs
  src/rust/src/lib.rs
Due: rust

:bug:
  src/rust/src/lib.rs
Due: rust

:sparkles: auto gen methods
  src/python/interprog/__init__.py
Due: python

Cleaned code
  src/python/docs/conf.py
  src/python/interprog/__init__.py
  src/python/interprog/errors.py
  src/rust/Cargo.toml
Due: rust, python

Revamp (#3)
  .deepsource.toml
  .github/workflows/ci.yml
  README.md
  codecov.yml
  interprog/__init__.py
  src/python/README.md
  src/python/docs/api_ref.rst
  src/python/docs/conf.py
  src/python/docs/index.rst
  src/python/docs/requirements.txt
  src/python/interprog/__init__.py
  src/python/interprog/errors.py
  src/python/interprog/py.typed
  src/python/poetry.lock
  src/python/pyproject.toml
  src/python/tests/__init__.py
  src/python/tests/test_version.py
  src/rust/.gitignore
  src/rust/Cargo.toml
  src/rust/README.md
  src/rust/src/errors.rs
  src/rust/src/lib.rs
Due: rust, python

License + naming
  README.md
  src/python/LICENSE.txt
  src/python/README.md
  src/rust/Cargo.toml
  src/rust/README.md
Due: rust, python

Error name change + spam derive
  src/rust/src/errors.rs
  src/rust/src/lib.rs
Due: rust

Add keywords
  src/rust/Cargo.toml
Due: rust

rust: Update license
  src/rust/README.md
Due: rust

:zap: Inline output
  src/rust/src/lib.rs
Due: rust

Update deps
  src/rust/Cargo.toml
Due: rust

Update README
  README.md
Due: none

Derive clone
  src/rust/Cargo.toml
  src/rust/src/lib.rs
Due: rust

Added get_task
  src/rust/src/lib.rs
  src/rust/src/manager.rs
  src/rust/src/task.rs
Due: rust

Use VecDeque
  src/rust/src/manager.rs
Due: rust

Encapsulate to self.inner
  src/rust/src/lib.rs
  src/rust/src/manager.rs
Due: rust

Don't remove
  src/rust/src/manager.rs
Due: rust

Ignore the PR name please
  .github/workflows/ci.yml
  src/rust/Cargo.toml
  src/rust/src/lib.rs
  src/rust/src/manager.rs
Due: rust

Moar tests
  src/rust/src/lib.rs
Due: rust

Async (#10)
  .github/workflows/ci.yml
  src/rust/Cargo.toml
  src/rust/src/lib.rs
  src/rust/src/manager.rs
  src/rust/src/task.rs
Due: rust

:white_check_mark: Rust: More tests
  src/rust/src/lib.rs
Due: rust

thiserror is a scam
  src/rust/Cargo.toml
  src/rust/src/errors.rs
Due: rust

Create .readthedocs.yml
  .readthedocs.yml
Due: none

Update conf.py
  src/python/docs/conf.py
Due: python

Rename .readthedocs.yml to .readthedocs.yaml
  .readthedocs.yaml
Due: none

Revert previous changes
  src/python/docs/conf.py
Due: python

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

Fix while true
  src/rust/src/lib.rs
  src/rust/src/manager.rs
Due: rust

Discourage non-task methods
  src/rust/src/manager.rs
Due: rust

Rust: actually, thiserror is not a scam
  src/rust/Cargo.toml
  src/rust/src/errors.rs
Due: rust
